---
layout: layouts/home.njk  
menu:   
title: 404
visible: true
order: 0        
---
<section class="mx-auto max-w-3xl flex flex-col py-24 text-slate-800">
  <h1 class="text-6xl font-extrabold text-center">
    Oops!
  </h1>
  </div>
  <div class="flex flex-col items-center text-center justify-center bg-gray-50 text-slate-800">
    <p class="text-center py-8 text-lg">
      Page not found. Please check the URL in the address bar and try again.
    </p>
    <div class="">
      <a href="/" class="uppercase inline-block p-3 px-6 rounded-md text-md bg-primary bg-opacity-100 text-gray-50 hover:bg-opacity-80 transition duration-300 ease-in-out">
        Go Back to the Home Page
      </a>
    </div>
  </div>
</section>